body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: #f4f4f4;
    margin: 0;
    padding:0;
    line-height: 1.6;
    color: #333;
}


.container{

max-width: 800px;
margin: 20px auto;

background: white;
padding: 30px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);

}



.avatar {


width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;

border: 3px solid #4CAF50;


}
/*имя*/

h1 {

margin: 10px 0 5px;
color: #4CAF50;
}


/*подпись под именем*/
.subtile{

font-size: 1.2em;
color: #666;
margin-top: 0;

}
/*стили разделов*/

selection {

    margin-bottom: 30px;
}

/* заголовки разделов*/
 h2 {

    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10 px;
    color: #333;
 }

 /*список навыков*/
 ul{

    list-style-type: square;
    padding-left: 20px;
 }


 .contacts a {

    color: #4CAF50;
    text-decoration:  none;

 }

 .contacts a:hover {

    text-decoration: underline;

 }

 .social a {


    margin: 0 5px;
 }

footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ddd;                   /* Серая линия сверху */
    color: #777;
    font-size: 0.9em;
}
